﻿body {
    background-color: #08004B !important;
    color: darkorange !important;
}

a.tableLink {
    color: lightseagreen !important;
}

.jumbotron {
    background-color: #1B1C1D !important;
}

.buttonEl {
    background-color: #1B1C1D !important;
}

.formEl {
    background-color: #1B1C1D !important;
}